matplotlib
basemap
seaborn
geopandas
shapely
pyproj
folium
plotly
contextily
cartopy
osmnx
fiona
rasterio
mapclassify
descartes
mysqlclient
psycopg2-binary
sqlalchemy
geoalchemy2
sqlite
netCDF4
pandas
openpyxl
xlrd
odfpy
